.tiles:hover {
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);

  transform: scale(1.05, 1.05);
}
.tiles {
  display: flex;
  flex-direction: column;

  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s;
  margin: 20px;
  margin-bottom: 40px;
  border: 0.5px solid #dfdfdf;
}
