/* Footer  */
.footer-heading {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 2rem 0;
  color: white;
}

.header {
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: flex-end;
  color: white;
}
.header-container {
  display: flex;
  margin: 4px 0px;
  align-items: center;
  padding-right: 10px;
}
li {
  list-style-type: square;
}

.myfooter {
  background-color: rgb(39, 39, 39);
  color: white;
  width: 100%;
}
ul li {
  margin-left: 10px;
}
/* navbar */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1 solid black;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(233, 233, 233);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.navbar {
  box-shadow: 0 5px 5px -6px #999;
}

.nav-item {
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-link {
  margin-right: 1.5rem;
  color: black;
  padding: 0px 0px;
  position: relative;
  border-bottom: 1px solid transparent;
}
.nav-link::before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 0.2s;
  background: rgb(237, 28, 36);
}
.nav-link:hover {
  color: rgb(237, 28, 36);
}
.nav-link:hover::before {
  width: 80%;
}
@media only screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
  }
}

/* enquiry form */
.enquiry-form-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.enquiry-text {
  font-size: 1.5rem;
}
.form-container {
  background-color: #f7f8fc;
  width: 100%;
}
.copyright {
  font-size: 0.8rem;
  padding: 10px;
}
.heading {
  position: relative;
  width: fit-content;
}
.heading::after {
  position: absolute;
  content: "";
  height: 4px;
  border-radius: 5px;
  bottom: -16px;
  left: 2px;
  width: 67%;
  background: rgb(237, 28, 36);
}
